<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="regression tests">
    <parameter name="browser" value="firefox"/>
    <parameter name="headless" value="true"/>

    <test name="test-in-firefox" enabled="true">
        <packages>
            <!--  <package name="com.pragmatic.selenium.selenium"/>-->
            <package name="com.pragmatic.selenium.test"/>
        </packages>
    </test>


    <test name="test-in-chrome" enabled="false">
        <parameter name="browser" value="chrome"/>
        <parameter name="headless" value="true"/>

        <packages>
            <!--   <package name="com.pragmatic.selenium.selenium"/>-->
            <package name="com.pragmatic.selenium.test"/>
        </packages>
    </test>


    <test name="test-new method" enabled="false">
        <parameter name="browser" value="chrome"/>
        <parameter name="headless" value="true"/>
        <classes>
            <!--<class name="com.pragmatic.selenium.test.SauceLandingTest"/>-->
            <!--<class name="com.pragmatic.selenium.test.SauceLoginTest"/>-->
            <!--<class name="com.pragmatic.selenium.test.CartTest"/>-->
            <!--<class name="com.pragmatic.selenium.test.CheckOutInformationTest"/>-->
            <!--<class name="com.pragmatic.selenium.test.CheckOutOverviewTest"/>-->
            <class name="com.pragmatic.selenium.test.CompleteTest"/>


        </classes>
    </test>
</suite>

